FLASK_DEBUG=False

POSTGRES_USER=drinkx
POSTGRES_PASSWORD=P@ssw0rd
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=drinkx

MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=
MAIL_USE_SSL=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

STRIPE_SECRET_KEY=
