/* global.css Stylesheet */

body {
    color: black;
    background-color: #F2F2F2 !important;
    overflow: overlay;
}

.body-login {
    background-image: url("../../Images/Background/SignupLogin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    height: calc(100vh - 90px);
    /* height: 100vh; */
    width: 100vw;
    overflow-x: hidden;
}

.navbar-container {
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #F2F2F2;
    z-index: 99;
}

.navbar {
    text-align: center;
}

.navbar-dropdown {
    background-color: #DD9E54;
}

.default-text {
    color: black;
}

.default-text-no-background {
    color: black;
}

.default-body-text-no-background {
    color: #2C3E50;
}

.reverse-text {
    color: whitesmoke;
}

.default-clickable-text {
    color: black;
    text-decoration: none;
}

.reverse-clickable-text {
    color: whitesmoke;
    text-decoration: none;
}

.primary-clickable-text {
    color: #535C72;
    text-decoration: none;
}

.false-clickable-text {
    color: lightgrey;
    text-decoration: none;
}

.true-clickable-text {
    color: #c27e30;
    text-decoration: none;
}

.tertiary-text {
    color: darkgrey;
}

.primary-btn, 
.primary-btn-outline:hover {
    color: whitesmoke;
    background-color: #535C72;
    border-radius: 30px;
    border: 4px solid #535C72;
}

.primary-btn-outline, 
.primary-btn:hover {
    color: #535C72;
    background-color: whitesmoke;
    border-radius: 30px;
    border: 4px solid #535C72;
}

.primary-btn-less-round,
.primary-btn-outline-less-round:hover {
    color: whitesmoke;
    background-color: #535C72;
    border-radius: 10px;
    border: 4px solid #535C72;
}

.primary-btn-less-round:hover,
.primary-btn-outline-less-round {
    color: #535C72;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 4px solid #535C72;
}

.primary-square {
    color: whitesmoke;
    background-color: #495264; /* color changed by TZH */
}

.primary-square-btn {
    color: whitesmoke;
    background-color: #747D92;
}

.primary-square-btn:hover {
    color: whitesmoke;
    background-color: #535C72;
}

.primary-light-dropdown {
    color: whitesmoke;
    background-color: #747D92;
    border-radius: 10px;
}

.primary-light-dropdown:hover,
.primary-light-dropdown:focus,
.primary-light-dropdown:active {
    color: whitesmoke;
    background-color: #535C72;
    border-radius: 10px;
}

.primary-btn-outline-thick {
    color: #535C72;
    background-color: whitesmoke;
    border: 2px solid #535C72;
}

.primary-btn-outline-thick:hover {
    color: #747D92;
    background-color: whitesmoke;
    border: 2px solid #747D92;
}

.primary-btn-border-thick {
    color: whitesmoke;
    background-color: #747D92;
    border-radius: 30px;
    border: 2px solid whitesmoke;
}

.primary-btn-border-thick:hover  {
    color: whitesmoke;
    background-color: #535C72;
    border-radius: 30px;
    border: 2px solid whitesmoke;
}

.secondary-btn {
    color: whitesmoke;
    background-color: #DD9E54;
    border-radius: 30px;
}

.secondary-btn:hover {
    color: whitesmoke;
    background-color: #c07c2d;
    border-radius: 30px;
}

.secondary-btn-border {
    color: whitesmoke;
    background-color: #DD9E54;
    border-radius: 30px;
    border: 1px solid whitesmoke;
}

.secondary-btn-border:hover {
    color: whitesmoke;
    background-color: #c27e30;
    border-radius: 30px;
    border: 1px solid whitesmoke;
}

.secondary-btn-border-thick {
    color: whitesmoke;
    background-color: #D58D2D;
    border-radius: 100px;
    border: 2.5px solid whitesmoke;
    font-weight: bold;
}

.secondary-btn-border-thick:hover  {
    color: whitesmoke;
    background-color: #c27e30;
    border-radius: 100px;
    border: 2.5px solid whitesmoke;
    font-weight: bold;
}

.secondary-btn-less-round,
.secondary-btn-outline-less-round:hover {
    color: whitesmoke;
    background-color: #DD9E54;
    border-radius: 10px;
    border: 4px solid #DD9E54;
}

.secondary-btn-less-round:hover,
.secondary-btn-outline-less-round {
    color: #DD9E54;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 4px solid #DD9E54;
}

.secondary-btn-not-rounded {
    color: whitesmoke;
    background-color: #DD9E54;
}

.secondary-btn-not-rounded:hover {
    color: whitesmoke;
    background-color: #c27e30;
}

.secondary-square {
    color: #535C72;
    background-color: whitesmoke;
    border: 3px solid #535C72;
}

.secondary-square-btn {
    color: whitesmoke;
    background-color: #DD9E54;
}

.secondary-square-btn:hover {
    color: whitesmoke;
    background-color: #c27e30;
}

.tertiary-btn,
.tertiary-btn-qa {
    color: whitesmoke;
    background-color: #747D92;
    border: 1px solid rgb(110, 110, 110);
}

.tertiary-btn:hover {
    color: whitesmoke;
    background-color: #535C72;
    border: 1px solid rgb(110, 110, 110);
}

.tertiary-btn-qa:hover,
.tertiary-btn-qa:focus,
.tertiary-btn-qa:active {
    color: whitesmoke;
    background-color: #19233a;
    border: 1px solid rgb(110, 110, 110);
}

.tertiary-square-btn {
    color: whitesmoke;
    background-color: #535C72;
}

.tertiary-square-btn:hover {
    color: whitesmoke;
    background-color: #747D92;
}

.success-btn {
    color: white;
    background-color: #94c692;
}

.success-btn:hover {
    color: white;
    background-color: #5fa05c;
}

.custom-drink-list-btn {
    background-color: rgb(245, 232, 158);
    border: 1px solid rgb(110, 110, 110);
}

.custom-drink-list-btn:hover {
    background-color: rgb(238, 214, 80);
    border: 1px solid black;
}

.btn-outline {
    border: 2px solid black;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.search-bar {
    border: 2px solid #535C72;
}

.square-inline {
    display: flex;
    align-items: center;
}

.img-border {
    border: 2.5px solid #868fa7;
    border-radius: 30px;
}

.img-no-border-rounded {
    border-radius: 30px;
}

.image-container {
    position: relative;
}

.image-container .overlay-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25px;
    margin-right: 22px;
}

.image-container-256 {
    width: 256px;
    height: 256px;
    position: relative;
}

.image-container-256 .overlay-icon {
    position: absolute;
    top: 22px;
    right: 30px;
}

.image-container-150 {
    position: relative;
    display: inline-block;
}

.image-container-150 .overlay-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 11px;
    margin-right: 8px;
}

.add-review-photo-container {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 20px;
}

.add-review-photo-background {
    width: 100px;
    height: 100px;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: lightgrey;
}

.add-drink-photo-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 20px;
}
/* tzh adjusted sizings from 150 to 175*/  
.drink-photo-container-row {
    width: 175px;
    height: 175px;
    position: relative;
}

.add-drink-photo-container-text {
    width: 150px;
    height: 100px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.add-drink-photo-container-close {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 10px;
}

/* tzh adjusted sizings from 150 to 175*/  
.add-drink-photo-background {
    width: 175px;
    height: 175px;            
    position: absolute;
    top: 0;
    left: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-text, .bi-star-fill {
    color: #DD9E54;
}

.title-card-text {
    font-weight: bold;
    color: #DD9E54;
}

.scrollable {
    /* height: 120px; */
    min-height: 10px;
    max-height: 120px;
    overflow-y: auto;
}

.scrollable-long {
    /* height: 240px; */
    max-height: 240px;
    overflow-y: auto;
}

.scrollable-shelf {
    height: 275px;
    max-height: 275px;
    overflow-y: auto;
}


.scrollable-listings {
    height: 1000px;
    max-height: 1000px;
    overflow-y: auto;
}

.scrollable-expressions {
    height: 95%;
    overflow-y: auto;
}

.scrollable-expressions-none {
    height: 600px;
    max-height: 600px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollable-expressions-none::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: darkgrey;
    border-radius: 10px;
}

.no-margin {
    margin: 0px
}

.no-padding {
    padding: 0px
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-image-lg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.send-icon {
    rotate: 45deg;
}

.p-text-lg {
    font-size: 1.1rem;;
}

.dotted-line {
    border-bottom: thin grey dotted;;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

#qrcode {
    width: 160px;
    height: 160px;
}

.darker-hr {
    border: 1px solid #000000;
}

.form-box-outline {
    border: 3px solid #535C72;
}

.review-preview-photo {
    width:100%;
    max-width:200px;
}

.submit-listing-preview-photo {
    width:100%;
    max-width:150px;
}

.nav-tabs {
    border-bottom: 2px solid #535C72;
}

.nav-tabs .nav-link.active {
    color: whitesmoke;
    background-color: #535C72;
}

.nav-tabs .nav-link {
    color: #535C72;
}

.nav-tabs .nav-link:hover {
    color: whitesmoke;
    background-color: #747D92;
}

.card {
    background-color: #D9D9D9;
}

.dropdown-toggle {
    height: 47.25px;
    font-size: medium;
}

.rounded-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: whitesmoke;
    background-color: #DD9E54;
}

.rounded-circle-no-results {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: whitesmoke;
    background-color: #747D92;
}

.rounded-circle-no-bg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: whitesmoke;
}

.rounded-circle-white-bg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: whitesmoke;
    background-color: whitesmoke
}

.qa-card-body {
    background-color:whitesmoke;
    border: 1px solid #535C72;
    border-radius: 10px;
}

.notif-pane {
    max-width: 325px;
}

.pac-container {
    background-color: #FFF;
    z-index: 1051 !important;
    position: fixed;
    display: inline-block;
}

.modal {
    z-index: 1050;
}

.modal-backdrop {
    z-index: 10;
}

.pac-container pac-logo hdpi {
    width: 100%
}

.dropdown-column {
    min-width: max-content;
}

.dropdown-item, .dropdown-item:disabled {
    background-color: white;
    color: black
}

.dropdown-item.active, .dropdown-item:hover, .dropdown-item:focus {
    background-color: #747D92;
    color: whitesmoke;
}
<<<<<<< HEAD

.xs-text {
    font-size: 0.7rem;
=======
/* below styles added by TZH */
.btn-close {
    color: white !important; 
    filter: invert(1) !important;
}
button.primary-square:hover {
    color: whitesmoke;
    background-color: #6d768d;
}

button.primary-btn{
    background-color: #495264 !important;
}

button.primary-btn:hover{
    background-color: #909cba !important;
}

.btn-secondary {
    color: whitesmoke;
    background-color: #838A97 !important;
    border: none !important;
}


.btn-secondary:hover {
    color: whitesmoke;
    background-color: #a1a9b3 !important;
    border: none !important;
}

.btn-danger {
    background-color: #AE3E3E !important;
}

.btn-danger:hover {
    background-color: #833131 !important;
}

.btn-success {
    background-color: #608163 !important;
}

.btn-success:hover {
    background-color: #4b644d !important;
}

.btn-warning {
    color: black !important;
    background-color: #FBBA49 !important;
}
.btn-warning:hover {
    color: black !important;
    background-color: #d09a3e !important;
}

.primary-btn-not-round,
.primary-btn-outline-not-round:hover {
    color: whitesmoke;
    background-color: #535C72;
    border-radius: 0px;
    border: 4px solid #535C72;
}

.primary-btn-not-round:hover,
.primary-btn-outline-not-round {
    color: #535C72;
    background-color: whitesmoke;
    border-radius: 0px;
    border: 4px solid #535C72;
}

.text-warning {
    color: #D58D2D;
}

.active-toggle-button {
    color: #495264  !important; /* Active state text color */
    background-color: white !important; /* Active state background color */
    border-bottom: 3px solid #495264 !important; /* Underline for active tab */
    border-radius: 0px !important;
    font-weight: bold !important;
  
}
.active-toggle-button:hover {
    color: #495264  !important; /* Active state text color */
    background-color: white !important; /* Active state background color */
    border-bottom: 4px solid #495264 !important; /* Underline for active tab */
    border-radius: 0px !important;
    font-weight: bold !important;
}

.inactive-toggle-button {
    color: black  !important; /* Active state text color */
    background-color: white !important; /* Active state background color */
    border: none !important; /* Underline for active tab */
    border-radius: 0px !important;
    font-weight: bold !important;
}


.inactive-toggle-button:hover {
    color:  #495264  !important; /* Active state text color */
    background-color: white !important; /* Active state background color */
    border-bottom: 3px solid #8593af !important; 
    border-radius: 0px !important;
    font-weight: bold !important;
}
.navbar-toggler-icon {
    min-width: 2.0em;
    min-height: 2.0em;
}

.custom-drink-list-btn.disabled {
    background-color:#F2F2F2;
    opacity: 1 !important;
}

.rounded-pill{
    font-size: 19px;
}

.col-5x{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 auto;
    max-width: 37.5%;
    box-sizing: border-box;
}

@media (min-width: 992px) {
    .padding-for-addyourreviewbutton-large-screen {
      padding-right: 35px;
      padding-left: 0px;
    }
  }
@media (min-width: 992px) {
    .padding-right-for-suggesteditslink-large-screen {
        padding-right: 56px;
    }
}
@media (min-width: 992px) {
    .padding-left-for-suggesteditslink-large-screen {
        padding-left: 60px;
    }
}
@media (min-width: 992px) {
    .padding-top-for-suggesteditslink-large-screen {
        padding-top: 40px;
    }
}

@media (min-width: 992px) {
    .edit-listing-report-duplicate-btn {
        position: absolute; bottom: 10px;
    }
}
@media (min-width: 992px) {
    .no-right-padding-large-screen{
        padding-right: 0px !important;
    }
}

.scrollable-user-bottle-listings-description-box {
    /* height: 120px; */
    min-height: 10px;
    max-height: 152px;
    overflow-y: auto;
}
@media (min-width: 992px) {
    .producer-profile-no-left-padding-large-screen {
        padding-left: 0px !important;
    }
}

@media (min-width: 992px) {
    .padding-for-followthisbusinessbutton-large-screen{
        padding-right: 56px;
    }
}
@media (min-width: 992px) {
    .padding-for-hr-below-followthisbusinessbutton-large-screen{
        padding-right: 44px;
    }
}
/* tzh changed 44 to 36*/
@media (min-width: 992px) {
    .padding-for-latestupdatesNmostpopularcontainer-large-screen{
        padding-right: 36px;
    }
}

/*not used */
.nowrap-container {
    white-space: nowrap !important;
    overflow: hidden;
  }

@media (max-width: 1199px) and (min-width: 991px) {
    .shrink-width-on-dashboard {
        max-width:12em;
    }
}  

@media (max-width: 575px){
    .make-bookmark-bigger {
        padding-left:10px !important;
        padding-right:0px !important;
    }
}


/* tzh added these changes for mobile */


.primary-light-dropdown-homepage {
    color: whitesmoke;
    background-color: #747D92;
    border-radius: 10px;
}

.primary-light-dropdown-homepage:hover,
.primary-light-dropdown-homepage:focus,
.primary-light-dropdown-homepage:active {
    color: whitesmoke;
    background-color: #535C72;
    border-radius: 10px;
}

@media (max-width: 991px){
    .primary-light-dropdown-homepage {
        color: black;
        padding: 0; /* Remove padding */
        background-color: transparent; /* Make background transparent */
        border: none; /* Remove border */
        display: flex;
        align-items: center;
        justify-content: center;
    }

.primary-light-dropdown-homepage:hover,
.primary-light-dropdown-homepage:focus,
.primary-light-dropdown-homepage:active {
    color: black;
    background-color:transparent;
    border:none;
    border-radius: 10px;
}
}
@media (max-width: 991px){
    .mobile-view-hide {
        display: none;
}
}  
@media (max-width: 991px){
    .mobile-view-no-padding {
        padding-left: 0px !important;
        padding-right: 0px !important;
}
}
@media (max-width: 991px){
.mobile-col-1 {
    flex: 0 0 auto;
    width: 16.666666666666%;
}
}

@media (min-width: 992px){
    .mobile-view-show {
        display: none;
    }
}
.container {
    transform: scale(0.85); /* Scales down everything within the container to 90% */
    transform-origin: top center;
>>>>>>> TZH-1st-draft-13-May
}